version: '3.9'

services:

  postgres:
    image: postgres:13.9
    container_name: postgres
    command: -c max_connections=5000
    env_file:
      - .env
    environment:
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: kong

  kong:
    image: kong/kong-gateway:3.8.1.0
    container_name: kong-gateway
    command: sh -c "kong migrations bootstrap && kong start"
    ports:
    - "9000:9000"
    - "9001:9001"
    - "9002:9002"
    - "9100:9100"
    env_file:
      - .env
    volumes:
    - "./datakit:/usr/local/kong/wasm/"
    environment:
      KONG_DATABASE: postgres
      KONG_LOG_LEVEL: debug
      KONG_PG_HOST: postgres
      KONG_PG_PASSWORD: ${POSTGRES_PASSWORD}
      KONG_PG_USER: kong
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_PROXY_LISTEN: 0.0.0.0:9000 reuseport backlog=16384
      KONG_ADMIN_GUI_URL: http://localhost:9002
      KONG_ADMIN_GUI_LISTEN: 0.0.0.0:9002
      KONG_ADMIN_LISTEN: 0.0.0.0:9001
      KONG_STATUS_LISTEN: 0.0.0.0:9100
      KONG_TRACING_INSTRUMENTATIONS: all
      KONG_TRACING_SAMPLING_RATE: 1.0
      KONG_ROUTER_FLAVOR: traditional #expressions
      KONG_ANONYMOUS_REPORTS: off
      KONG_WASM: on
      KONG_WASM_FILTERS_PATH: "/usr/local/kong/wasm/"

    restart: always
    depends_on:
    - postgres